@model MvcCvProject.Models.Entity.TblDeneyimlerim

@{
    ViewBag.Title = "DeneyimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Yeni Deneyim Ekleme Sayfası</h4>
<br />

<form method="post">

    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Baslik, "", new { @style = "color:red" })
    <br />

    @Html.Label("Alt Başlık 1")
    @Html.TextBoxFor(x => x.AltBaslik, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.AltBaslik, "", new { @style = "color:red" })
    <br />

    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Tarih, "", new { @style = "color:red" })
    <br />

    @Html.Label("Açıklama")
    @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Aciklama, "", new { @style = "color:red" })
    <br />

    <button class="btn btn-info">Kaydet</button>

</form>

@*<form method="post">
    <label>Başlık</label>
    <input type="text" name="Baslik" class="form-control" placeholder="Başlığı yazınız" /><br />

    <label>Alt Başlık</label>
    <input type="text" name="AltBaslik" class="form-control" placeholder="Alt Başlığı yazınız" /><br />

    <label>Tarih</label>
    <input type="text" name="Tarih" class="form-control" placeholder="Çalışma Tarihi" /><br />

    <label>Açıklama</label>
    <textarea name="Aciklama" rows="5" class="form-control" placeholder="Açıklamanızı Giriniz"></textarea><br />

    <button class="btn btn-info">Kaydet</button>

</form>*@