@model MvcCvProject.Models.Entity.TblAdmin

@{
    ViewBag.Title = "AdminDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Kullanıcı Düzenleme Sayfası</h4>
<br />

<form method="post">

    @Html.HiddenFor(x => x.ID)

    @Html.Label("Kullanıcı Adı")
    @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.KullaniciAdi, "", new { @style = "color:red" })
    <br />

    @Html.Label("Şifre")
    @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Sifre, "", new { @style = "color:red" })
    <br />

    <button class="btn btn-info">Düzenle</button>

</form>